In [2]:
import pandas as pd
df_m = pd.read_excel('202408_202408_연령별인구현황_월간.xlsx',skiprows=3,index_col='행정기관',usecols='B,E:Y')
df_m.head(3)

c:\Users\zxxx8\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"1,284,667","1,912,434","2,328,928","2,300,683","2,700,595","3,335,627","3,461,228","3,142,970","3,951,375","3,830,615",...,"4,266,997","4,213,582","3,544,482","2,344,073","1,759,503","1,342,266","749,736","261,826","57,817","8,737"
서울특별시,"204,690","287,563","353,150","372,814","542,625","785,870","791,995","644,466","720,075","674,352",...,"710,799","699,458","624,356","428,558","332,137","233,940","117,342","38,728","9,291","1,522"
부산광역시,"72,070","113,533","134,955","128,015","166,846","197,787","205,037","184,768","243,590","231,762",...,"268,243","289,858","271,648","191,736","139,058","98,568","48,069","14,958","3,379",442

In [3]:
df_m.iloc[0] = df_m.iloc[0].str.replace(',','').astype(int)
df_m

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,1284667,1912434,2328928,2300683,2700595,3335627,3461228,3142970,3951375,3830615,...,4266997,4213582,3544482,2344073,1759503,1342266,749736,261826,57817,8737
서울특별시,"204,690","287,563","353,150","372,814","542,625","785,870","791,995","644,466","720,075","674,352",...,"710,799","699,458","624,356","428,558","332,137","233,940","117,342","38,728","9,291","1,522"
부산광역시,"72,070","113,533","134,955","128,015","166,846","197,787","205,037","184,768","243,590","231,762",...,"268,243","289,858","271,648","191,736","139,058","98,568","48,069","14,958","3,379",442
대구광역시,"55,489","89,123","106,863","105,644","128,129","144,362","148,158","133,630","173,050","175,007",...,"208,398","204,199","168,027","117,290","84,087","65,358","34,510","11,222","2,186",260
인천광역시,"81,410","116,130","138,048","133,890","155,369","200,151","220,834","198,871","246,323","230,977",...,"254,798","254,373","199,794","119,055","88,002","62,568","34,860","12,739","3,060",500
광주광역시,"36,960","57,942","72,592","73,352","86,821","98,100","92,113","81,623","110,828","111,439",...,"115,784","104,925","83,760","56,241","45,356","32,356","17,013","6,081","1,270",193
대전광역시,"38,518","54,522","67,004","69,225","89,267","106,386","101,777","87,801","107,189","108,048",...,"117,991","111,808","92,842","60,157","43,135","32,283","17,773","6,234","1,342",220
울산광역시,"28,658","46,254","56,239","52,830","52,547","66,091","69,960","66,550","89,189","85,567",...,"104,113","97,462","75,892","46,338","29,032","19,409","9,415","3,237",703,87
세종특별자치시,"16,458","25,582","28,400","23,471","17,610","19,571","27,725","31,433","40,797","36,326",...,"24,028","21,211","17,020","10,329","6,952","5,253","3,158","1,292",319,40
경기도,"389,975","564,266","670,554","651,235","731,761","913,755","980,840","915,024","1,141,489","1,084,652",...,"1,128,843","1,056,660","828,616","505,272","378,679","279,643","156,594","54,995","12,676","1,985"
강원특별자치도,"36,775","50,602","62,551","64,657","76,233","82,273","81,996","76,199","99,517","103,478",...,"133,019","146,511","132,192","82,537","64,081","54,776","31,131","10,652","2,673",422
충청북도,"40,184","59,060","72,209","71,123","79,965","96,286","98,459","89,841","113,634","112,981",...,"140,206","139,903","121,341","77,435","55,827","47,546","28,717","9,914","2,042",284
충청남도,"54,727","83,201","102,462","99,441","104,544","117,347","125,578","126,090","162,848","157,479",...,"174,775","179,827","151,609","104,815","79,653","67,085","44,480","16,589","3,385",489
전북특별자치도,"37,353","60,037","79,657","82,196","89,940","93,938","88,843","83,543","114,462","123,235",...,"150,961","153,841","133,473","97,906","78,644","64,517","40,001","14,825","3,194",476
전라남도,"41,891","61,322","78,903","77,700","82,261","89,130","86,162","82,770","115,007","120,195",...,"159,594","166,219","143,505","104,571","88,170","76,867","46,589","16,971","3,411",567
경상북도,"56,285","87,623","108,439","107,763","115,049","124,754","129,211","127,861","172,637","175,357",...,"227,636","243,322","211,369","152,517","107,997","94,460","56,964","19,941","4,176",570
경상남도,"74,483","125,527","160,468","153,689","148,065","162,338","172,730","174,489","247,343","247,061",...,"290,791","290,803","246,230","162,564","116,389","90,801","52,654","19,008","3,843",430
제주특별자치도,"18,741","30,147","36,434","33,638","33,563","37,488","39,810","38,011","53,397","52,699",...,"57,018","53,202","42,808","26,752","22,304","16,836","10,466","4,440",867,250

In [4]:
df_m.iloc[0]

0~4세       1284667
5~9세       1912434
10~14세     2328928
15~19세     2300683
20~24세     2700595
25~29세     3335627
30~34세     3461228
35~39세     3142970
40~44세     3951375
45~49세     3830615
50~54세     4458370
55~59세     4266997
60~64세     4213582
65~69세     3544482
70~74세     2344073
75~79세     1759503
80~84세     1342266
85~89세      749736
90~94세      261826
95~99세       57817
100세 이상       8737
Name: 전국  , dtype: object

In [5]:
df_w = pd.read_excel('202408_202408_연령별인구현황_월간.xlsx',skiprows=3,index_col='행정기관',usecols='B,AB:AV')
df_w.head(3)

c:\Users\zxxx8\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

ParserError: Defining usecols with out-of-bounds indices is not allowed. [27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47] are out-of-bounds. (sheet: 0)